<tr>
    <td><%= user_name(trip) %></td>
    <td><%= trip.destination %></td>
    <td><%= index_table_time_format(trip.pickup) %></td>
    <td><%= index_table_time_format(trip.dropoff) %></td>
    <td><%= gear_list_name(trip) %></td>
</tr>
    