<h1>Trip To: <%= @trip.destination %></h1>

<p>
Gear Pickup: <%= show_page_time_format(@trip.pickup) %> <br>
Gear Dropoff: <%= show_page_time_format(@trip.dropoff) %>
</p>

<h2>Gear</h2>

<h3><%= @trip.gear_list.name %></h3>

<ul>
    <% @trip.gear_list.items.each do |item|%>
        <li><%= item.name %>
            <ul>
                <li>Description: <%= item.description %></li>
                <li>Condition: <%= item.condition %></li>
            </ul>
        </li>
    <% end %>
</ul>