<!DOCTYPE html>
<html>
  <head>
    <title>Rails Gear Pool Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
        <%= link_to 'Home', root_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white" %> | 
        <% if current_user %> 
            <%= link_to 'Trips', root_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white" %> | 
            <%= link_to 'Gear Packages', root_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white" %> | 
            <%= link_to 'Log Out', logout_path, {method: 'post', class: "w3-bar-item w3-button w3-hide-small w3-hover-white"} %>
        <% else %>
            <%= link_to 'Sign Up', signup_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white" %> | 
            <%= link_to 'Sign In', signin_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white" %>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>