<!DOCTYPE html>
<html>
  <head>
    <title>Rails Gear Pool Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
        <%= link_to 'Home', root_path %> | 
        <% if current_user %>
            <%= link_to 'Gear Packages', gear_lists_path %> | 
            <%= link_to 'Items', items_path %> | 
            <%= link_to 'Donate Item', new_item_path %> | 
            <%= link_to 'Profile', user_path(current_user) %> | 
            <%= link_to 'Log Out', logout_path, {method: 'post'} %>
        <% else %>
            <%= link_to 'Sign Up', signup_path %> | 
            <%= link_to 'Sign In', signin_path %> | 
            <%= link_to "Sign In with Google", '/auth/google_oauth2' %>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>